// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.personnel-selector {
	width:200px;
	padding-left:15px;
	padding-right:15px;
}

.wards-selector {
	width: 300px;
	padding-left: 15px;
	padding-right: 15px;
}
