// Place all the styles related to the wards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.simple-text-padding {
	padding-top:15px;
	padding-bottom:15px;
}

.btn-add-patient {
	padding-left:15px;
	padding-right:15px;
}

.form-submit-patients-button {
	max-width: 25%;
	margin-left: auto;
	margin-right: auto;
}